.settings/org.eclipse.wst.ws.service.policy.prefs
.settings/.jsdtscope
.settings/org.eclipse.wst.validation.prefs
*.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
*.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
.classpath
.project
target/m2e-wtp/web-resources/META-INF/maven/com.jia/mustang/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/classes/property/jdbc.properties
target/classes/generatorConfig.xml
target/classes/mybatis-config.xml
target/classes/spring/spring-dao.xml
target/classes/spring/spring-web.xml
target/m2e-wtp/web-resources/META-INF/maven/com.jia/mustang/pom.xml
target/classes/com/jiea/mustang/dao/MenuMapper.class
*.class
target/classes/com/jiea/mustang/mapper/RoleMapper.xml
target/classes/com/jiea/mustang/mapper/MenuRoleMapper.xml
target/classes/com/jiea/mustang/mapper/EmpRoleMapper.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/com/jiea/mustang/mapper/MenuMapper.xml
target/classes/spring/spring-service.xml
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/com/jiea/mustang/mapper/EmpMapper.xml