.settings/org.eclipse.wst.ws.service.policy.prefs
.settings/.jsdtscope
.settings/org.eclipse.wst.validation.prefs
*.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
*.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
.classpath
.project
target/m2e-wtp/web-resources/META-INF/maven/com.jia/mustang/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/classes/property/jdbc.properties
target/classes/generatorConfig.xml
target/classes/mybatis-config.xml
target/classes/spring/spring-dao.xml
target/classes/spring/spring-web.xml
target/m2e-wtp/web-resources/META-INF/maven/com.jia/mustang/pom.xml