@charset "utf-8";

*{font-size:12px; font-family:Tahoma,Verdana,微软雅黑,新宋体}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: blink;
}

a:focus {
	 /*去掉点击出现的虚框*/
	 outline:none;
}

.search-div {
	overflow: hidden;
	border-bottom: 1px dashed #428bca;
}


input, select, textarea {
	background: #fff;
}

.searchForm {
	width: 100%;
	height: 100%;
	border: 0;
}

.searchForm td {
	height: 25px;
}

.searchForm input[type='text'] {
	width: 134px;
}

.searchForm .tdR {
	text-align: right;
}

.searchForm .tdL {
	text-align: left;
}

.tableForm {
	border: #D0D0D0 solid 1px;
	border-collapse: collapse;
}

.tableForm td {
	border: #D0D0D0 solid 1px;
	border-collapse: collapse;
	height: 40px;
}

.tableForm .tdR {
	text-align: right;
	background: #E0EDFE;
	padding-right: 5px;
}

.tableForm .tdL {
	text-align: left;
	background: #fff;
}

.tableForm input[type='text'] {
	width: 150px;
}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:2px 0px;padding-left:10px;padding-top:2px;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}
